@media screen and (max-width:1440px){
}

@media screen and (max-width:1200px) {
    .head_link_block{
        width: 1200px;
        margin: 0;
    }
    p.head{
        margin-left: 30px;
    }
    .link.vk {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1000px) {

    .head_link_block{
        margin: 0 0;
    }
    a.head_link_home {
        display: block;
        margin-right: 30px;
    }
    a.vk_link.head_vk{
        display: none;
    }
    .info_block_content {
        margin: 0 0px;
    }
}
@media screen and (max-width: 900px) {

    body>main>div>a:nth-child(2)>div {
        margin-top: 25px;
    }
    .project_link {
        flex-wrap: wrap;
    }
    .project_preview{
        width: 480px;
    }
    .project_previw_photo.card-1,
    .project_previw_photo.card-2 {
        width: 100%;
        height: 260px;
    }
    .info_block{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:480px){
    .head_link_block{
        min-width: 360px;
        width: 100%;
    }
    p.head{
        margin-left: 30px;
    }
    .link.vk{
        margin-right: 30px;
    }
    .project_preview{
        width: 100%;
        min-width:360px;
        margin: 0;
    }
    body>main>div>a:nth-child(2)>div {
        margin-top: 25px;
    }
    .project_previw_photo.card-1,
    .project_previw_photo.card-2{
        height: 260px;
    }
    .project_link {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
}