@media screen and (min-width:1200px) {
    .link {
        position: absolute;
        right: 0;
        top: 0px;
        width: 550px;
    }
}
@media screen and (max-width:1200px) {
    .menu{
        width: 100%;
    }
    .link{
                position: absolute;
                right: 0;
                top: 0px;
                width: 520px;
    }
    main{
        width: 100%;
    }

    .fast_download{
        margin-left: 20px;
    }
    img.fast_d{
        height: 953px;
    }
}
@media screen and (max-width:700px) {
   .logo{
       margin-left: 20px;
       width: 100px;
    }
    button.download_psd_layout {
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width:600px){
    .logo{display: none;}
    .menu{
        width: 100%;
        min-width: 360px;

    }
    .link{
        position: relative;
        width: 480px;
    }
    .home,
    .about,
    .portfolio,
    .team,
    .blog,
    .contact{
        margin: 0 14px;
    }
}
@media screen and (max-width:480px){
    .link {
        position: relative;
        width: 360px;
        padding: 30px 0;
        margin: 0 auto;
    }
    .home {
        /*margin-left: 25px !important;*/
    }
    .home,
    .about,
    .portfolio,
    .team,
    .blog,
    .contact {
        margin: 0 0px;
        font-size: 14px;

    }
    .fast_download{
        min-width: 360px;
        margin-left: 0px;
    }
    body>main>div>p:nth-child(2){
        margin-left: 20px;
    }
    body>main>div>p:nth-child(3){
        font-size:40px;
        margin-left: 20px;
    }
    img.fast_d{
        min-width: 360px;
        height: 953px;
    }
}