body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
}
.head_link_block {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}
p.head {
    margin: 0;
}
/*link*/
a.head_link_home {

}
.test__link{
    display:none;
}
.link.vk{
    width: 29px;
    height: 29px;
    background-image: url("../image/vk.svg");
}
.link.codepen{
    width: 29px;
    height: 29px;
    background-image: url("../image/codepen-logo.svg");
}
.link.github{
    width: 29px;
    height: 29px;
    background-image: url("../image/github-logo.svg");
}
.link.home{
    width: 29px;
    height: 29px;
    background-image: url("../image/home-link.svg");
}
.link.vk.footer_link:hover:after,
.link.vk:hover:after,
.link.codepen:hover:after,
.link.github:hover:after,
.link.home:hover:after {
    transform: scale(1.6) translateX(0px) translateY(0px);
    transition: all .15s ease-in-out;
}

.link.vk.footer_link:after,
.link.vk:after,
.link.codepen:after,
.link.github:after,
.link.home:after {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    transform: scale(0) translateX(0px) translateY(0px);
    border-radius: 50%;
    transition: all 0s ease-in-out;
}
/*link*/
a.link {
    margin-top: 45px;
    text-decoration: none;
}
main {
    max-width: 1440px;
    width: 100%;
    min-width: 320px;
    margin-top: 25px;
    margin-bottom: 80px;
}
.project_link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project_previw_photo.card-1 {
    width: 100%;
    height: 214px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;

}
.project_previw_photo.card-2{
    width: 100%;
    height: 214px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}
.project_previw_photo.card-test {
    width: 100%;
    height: 214px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}
.project_preview {
    width: 400px;
    height: 100%;
    -webkit-box-shadow: 0 0px 0px 1px rgba(95, 99, 104, 0.5);
    box-shadow: 0 0px 0px 1px rgba(95, 99, 104, 0.5);
    transition: all .1s ease-in-out;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}
h6 {
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #9aa0a6;
    letter-spacing: 5px;
    font-weight: 100;
    width: 100%;
}
h6:after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url("../image/icons/arrow_right.svg");
    transition: transform .2s ease-in-out;
}
.project_preview:hover h6:after{
    transform: translateX(10px);
}
/*card*/
footer{
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 16px 0px;
   text-transform: uppercase;
   font-family: 'Roboto',sans-serif;
   font-weight: 600;
   font-size: 24px;
    position: fixed;
    bottom: 0;
   z-index:999;
   backdrop-filter: blur(10px);
}
.footer_content {
    width: 1440px;
}
.social_link {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}
.link.vk.footer_link {
    margin-right: 0;
}
/*my projects*/
p.test__page {
    margin: 0;
    color: #000;
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
}